<%- include('../shared/header') -%>
<%- include('../shared/navigation') -%>

<div class="container">
  <h1><%= post.title %></h1>

  by: <%= post.author %>

  <div id='post'>
    <%= post.body %>
  </div>
</div>